[Desktop Entry]
Type=Application
X-Desktop-File-Install-Version=0.9
Name=AbiWord in Quechua
Name[es]=AbiWord qhichwa aruna
Name[ay]=AbiWord qhichwa aruna
Name[qu]=AbiWord runasimipi
GenericName=Procesador de textos en quechua
GenericName[es]=Procesador de textos en quechua
Comment=Procesador de textos AbiWord en quechua
Comment[es]=AbiWord qhichwa aruna qillqatanak askichiri
Comment[ay]=AbiWord qhichwa aruna qillqatanak askichiri
Comment[qu]=AbiWord runasimipi qillqasqakunata ukjinayachiq
Exec=bash -c "LANG=quh_BO abiword"
Icon=abiword
Terminal=false
StartupNotify=true
Categories=PluriOS;Office;WordProcessor;GNOME;GTK;X-Red-Hat-Base;
