[Desktop Entry]
Name=draw.io
Exec=/opt/draw.io/drawio %U
Terminal=false
Type=Application
Icon=drawio
StartupWMClass=draw.io
Comment=Diagrams.net ukana iskrituryu
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;
Categories=Graphics;
