[Desktop Entry]
Type=Application
Terminal=false
Categories=Office;Dictionary;Education;Qt;
Name=GoldenDict
GenericName=Multiformat Dictionary
Comment=Consult electronic dictionaries
Comment[ay]=Electrónicos aru-pirwanakana thaqhama
Comment[es]=Electrónicos aru-pirwanakana thaqhama
Comment[qu]=Electrónicos simi-pirwakunapi mask'ay
Encoding=UTF-8
Icon=goldendict
Exec=goldendict
