[Desktop Entry]
Name=TeXInfo
Comment=TeXInfo ukana qillqa wayaqanaka uñjayiri
Exec=info
Icon=dialog-information
Type=Application
Categories=Utility;Documentation;ConsoleOnly;
Terminal=true
X-Desktop-File-Install-Version=0.24
