[Desktop Entry]
Name[an]=Hitori
Name[ar]=هيتوري
Name[as]=Hitori
Name[be]=Гісторыя
Name[bg]=Хитори
Name[bs]=Hitori
Name[ca]=Hitori
Name[ca@valencia]=Hitori
Name[cs]=Hitori
Name[da]=Hitori
Name[de]=Hitori
Name[el]=Hitori
Name[en_GB]=Hitori
Name[eo]=Hitorio
Name[es]=Hitori
Name[eu]=Hitori
Name[fa]=هیتوری
Name[fi]=Hitori
Name[fr]=Hitori
Name[fur]=Hitori
Name[gl]=Hitori
Name[he]=היטורי
Name[hr]=Hitori
Name[hu]=Hitori
Name[id]=Hitori
Name[it]=Hitori
Name[ko]=히토리
Name[lv]=Hitori
Name[lt]=Hitori
Name[ml]=ഹിറ്റോറി
Name[nb]=Hitori
Name[ne]=हिटोरि
Name[nl]=Hitori
Name[oc]=Hitori
Name[pa]=ਹੀਟੋਰੀ
Name[pl]=Hitori
Name[pt]=Hitori
Name[pt_BR]=Hitori
Name[ro]=Hitori
Name[ru]=Хитори
Name[sk]=Hitori
Name[sl]=Hitori
Name[sr]=Хитори
Name[sr@latin]=Hitori
Name[sv]=Hitori
Name[tr]=Hitori
Name[vi]=Hitori
Name[uk]=Hitori
Name[zh_CN]=Hitori
Name[zh_HK]=Hitori
Name[zh_TW]=Hitori
Name=Hitori
Comment[an]=Chugar a o chuego de puzle Hitori
Comment[ar]=العب لعبة أحجية هيتوري
Comment[ay]=Puzle Hitori anataw anataña
Comment[as]=Hitori সাঁথৰ খেল খেলক
Comment[be]=Гуляць у гульню Пазлы Hitori
Comment[bg]=Абстрактна главоблъсканица с числа
Comment[bs]=Igraj Hitori logičku igru
Comment[ca]=Jugueu al trencaclosques Hitori
Comment[ca@valencia]=Jugueu al trencaclosques Hitori
Comment[cs]=Hrát logickou hru Hitori.
Comment[da]=Læg puslespillet Hitori
Comment[de]=Das Hitori-Puzzle spielen
Comment[el]=Παίξτε το παιχνίδι παζλ Hitori
Comment[en_GB]=Play the Hitori puzzle game
Comment[eo]=Ludi la Hitori-puzlon
Comment[es]=Puzle Hitori anatama
Comment[eu]=Jokatu Hitori puzzlera
Comment[fa]=بازی پازلِ هیتوری را بازی کنید
Comment[fi]=Pelaa Hitori-pulmapeliä
Comment[fr]=Jouer au casse-tête Hitori
Comment[fur]=Zuie al berdei Hitori
Comment[gl]=Xogue ao xogo de crebacabezas Hitori
Comment[he]=לשחק במשחק החשיבה היטורי
Comment[hr]=Igrajte Hitori igru slagalice
Comment[hu]=Japán eredetű logikai játék a számokkal
Comment[id]=Mainkan permainan menyusun gambar Hitori
Comment[it]=Gioca al rompicapo Hitori
Comment[ko]=히토리 퍼즐 게임을 플레이합니다
Comment[lv]=Spēlēt Hitori prāta spēli
Comment[lt]=Žaiskite Hitori galvosūkių žaidimą
Comment[ml]=ഹിറ്റോറി പസില്‍ കളിക്കുക
Comment[nb]=Spill det populære puslespillet Hitori
Comment[ne]=हिटोरि खेल खेल्नुहोस्
Comment[nl]=Speel het Hitori-puzzelspel
Comment[oc]=Jogar al copacap Hitori
Comment[pa]=ਹੀਟੋਰੀ ਬੁਝਾਰਤ ਖੇਡ ਖੇਡੋ
Comment[pl]=Gra logiczna Hitori
Comment[pt]=Jogue os puzzles Hitori
Comment[pt_BR]=Jogue o quebra-cabeça Hitori
Comment[ro]=Joacă jocul de puzzle Hitori
Comment[ru]=Игра-головоломка Хитори
Comment[sk]=Hrajte hru Hitori
Comment[sl]=Igraj miselno igro Hitori
Comment[sr]=Играјте игру слагалица Хитори
Comment[sr@latin]=Igrajte igru slagalica Hitori
Comment[sv]=Spela pusselspelet Hitori
Comment[tr]=Hitori bulmaca oyununu oynayın
Comment[vi]=Chơi trò chơi giải đố Hitori
Comment[uk]=Зіграти головоломка Hitori
Comment[zh_CN]=玩 Hitori 益智游戏
Comment[zh_HK]=玩 Hitori 解謎遊戲
Comment[zh_TW]=遊玩 Hitori 解謎遊戲
Comment=Play the Hitori puzzle game
# Translators: Search terms to find this application. Do NOT translate or localise the semicolons! The list MUST also end with a semicolon!
Keywords[an]=puzle;chuego;lochica;reixeta;tablero;
Keywords[ar]=أحجية;لعبة;منطق;شبكة;puzzle;game;logic;grid;
Keywords[be]=пазл;гульня;логіка;сетка;
Keywords[bg]=логическа;загадка;главоблъсканица;пъзел;цифри;числа;дъска;puzzle;game;logic;grid;
Keywords[bs]=puzzle;game;logic;grid;igra;zagonetka;logika;mreža;
Keywords[ca]=trencaclosques;puzle;joc;lògica;graella;
Keywords[ca@valencia]=trencaclosques;puzle;joc;lògica;graella;
Keywords[cs]=hlavolam;hra;logická;mřížka;
Keywords[da]=tænkespil;puslespil;spil;logik;gitter;
Keywords[de]=puzzle;spiel;logik,gitter;
Keywords[el]=γρίφος;παιχνίδι;λογική;πλέγμα;puzzle;game;logic;grid;
Keywords[en_GB]=puzzle;game;logic;grid;
Keywords[eo]=puzlo;ludo;logiko;krado;
Keywords[es]=puzle;juego;lógica;rejilla;tablero;
Keywords[eu]=puzzlea;jokoa;logika;sareta;
Keywords[fa]=puzzle;game;logic;grid;پازل;بازی;منطق;شبکه;
Keywords[fi]=puzzle;game;logic;grid;pulma;peli;logiikka;
Keywords[fr]=casse-tête;jeu;logique;grille;
Keywords[fur]=puzzle;zûc;logjiche;gridele;
Keywords[gl]=quebracabezas;xogo;lóxica;grella;
Keywords[he]=תצרף;פאזל;משחק;לוגיקה;היגיון;הגיון;רשת;
Keywords[hr]=slagalica;igra;logika;mreža;
Keywords[hu]=fejtörő;puzzle;játék;logika;rács;
Keywords[id]=teka teki;permainan;logic;grid;
Keywords[it]=puzzle;rompicapo;gioco;logica;griglia;
Keywords[ko]=puzzle;퍼즐;game;게임;logic;로직;논리;grid;그리드;격자;
Keywords[lv]=mīkla;spēle;loģika;režģis;
Keywords[lt]=galvosūkis;žaidimas;logika;tinklelis;
Keywords[ml]=puzzle;game;logic;grid;
Keywords[nb]=puslespill;spill;logikk;rutenett;
Keywords[nl]=puzzle;game;logic;grid;puzzel;spel;logica;grid;rooster;raster;
Keywords[oc]=copacap;jòc;logica;grasilha;
Keywords[pl]=puzzle;puzle;gra;logiczna;siatka;
Keywords[pt]=puzzle;jogo;lógica;grelha;
Keywords[pt_BR]=quebra cabeça;quebra-cabeça;jogo;lógica;grade;
Keywords[ro]=puzzle;game;logic;grid;joc;logică;grilă;
Keywords[ru]=головоломка;игра;логическая;таблица;
Keywords[sk]=hlavolam;hra;logická;logika;mriežka;
Keywords[sl]=sestavljanka;igra;logika;polja;
Keywords[sr]=слагалица;игра;логика;мрежа;puzzle;game;logic;grid;
Keywords[sr@latin]=slagalica;igra;logika;mreža;
Keywords[sv]=pussel;spel;logik;rutnät;
Keywords[tr]=bulmaca;yapboz;oyun;mantık;ızgara;tablo;
Keywords[uk]=головоломка;гра;логічна;сітка;
Keywords[zh_CN]=puzzle;game;logic;grid;解谜;游戏;逻辑;网格;
Keywords[zh_TW]=puzzle;game;logic;grid;益智遊戲;遊戲;邏輯;
Keywords=puzzle;game;logic;grid;
Exec=hitori
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[be]=org.gnome.Hitori
Icon[bg]=org.gnome.Hitori
Icon[ca@valencia]=org.gnome.Hitori
Icon[fa]=org.gnome.Hitori
Icon[it]=org.gnome.Hitori
Icon[lv]=org.gnome.Hitori
Icon[ml]=org.gnome.Hitori
Icon[nb]=org.gnome.Hitori
Icon[pt]=org.gnome.Hitori
Icon[sk]=org.gnome.Hitori
Icon[sr]=org.gnome.Hitori
Icon[sr@latin]=org.gnome.Hitori
Icon[uk]=org.gnome.Hitori
Icon[zh_CN]=org.gnome.Hitori
Icon[zh_TW]=org.gnome.Hitori
Icon=org.gnome.Hitori
Terminal=false
Type=Application
Categories=GTK;Game;LogicGame;
StartupNotify=true
