[Desktop Entry]
Name=Pidgin Internet Messenger
Name[es]=Pidgin llikapurana yatiyiri
Name[ay]=Pidgin llikapurana yatiyiri
GenericName=Internet Messenger
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, and more
Comment[es]=Mäki yatiyirimpi aruskipam AIM, Google Talk, Jabber/XMPP, etc. ukana
Comment[ay]=Mäki yatiyirimpi aruskipam AIM, Google Talk, Jabber/XMPP, etc. ukana
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
X-MessagingMenu-UsesChatSection=true
X-Ubuntu-Gettext-Domain=pidgin
