[Desktop Entry]
Name=Cambiar a aymara (qillqa apaqatampi)
Name[es]=Aymara (qillqa apaqatampi) aru uñachayaña
Name[es_ES]=Aymara (qillqa apaqatampi) aru uñachayaña
Comment=Cambie la interfaz de PluriOS a aymara (con elisión)
Comment[es]=Aymara (con elisión) aruna PluriOS uka interfaz uñachayama
Exec=pkexec /usr/bin/plurios -l ay
Icon=preferences-desktop-locale
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;X-GNOME-PersonalSettings;PluriOS
NotShowIn=KDE;
X-GNOME-Settings-Panel=language
X-Unity-Settings-Panel=language
Keywords=Language;Interface;Region;Format;
