[Desktop Entry]
Type=Application
X-Desktop-File-Install-Version=0.9
Name=AbiWord Aymara
Name[es]=AbiWord aymar aruna
Name[ay]=AbiWord aymar aruna
Name[qu]=AbiWord aymara simipi
GenericName=Procesador de textos Aymara
GenericName[es]=Procesador de textos Aymara
Comment=Procesador de textos Abiword en aymara
Comment[es]=AbiWord aymar aruna qillqatanak askichiri
Comment[ay]=AbiWord aymar aruna qillqatanak askichiri
Comment[qu]=AbiWord aymara simipi qillqasqakuna p'anqachaq
Exec=bash -c "LANG=ayc_BO abiword"
Icon=abiword
Terminal=false
StartupNotify=true
Categories=PluriOS;Office;WordProcessor;GNOME;GTK;X-Red-Hat-Base;
