[Desktop Entry]
Name=Cambiar a aymara (sin elisión)
Name[es]=Aymar (sin elisión) aru ukan uñachayaña
Name[es_ES]=Aymar (sin elisión) aru ukan uñachayaña
Comment=Cambie la interfaz de PluriOS a aymara
Comment[es]=Aymar (sin elisión) arun PluriOS uka interfaz uñachayam
Exec=sudo /usr/bin/plurios -l ay-oficial
Icon=preferences-desktop-locale
Terminal=true
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;X-GNOME-PersonalSettings;PluriOS
NotShowIn=KDE;
X-GNOME-Settings-Panel=language
X-Unity-Settings-Panel=language
Keywords=Language;Interface;Region;Format;
