[Desktop Entry]
Version=1.0
Name=Subsistemas de Educación
Name[es]=Subsistemas de Educación
Name[ay]=Yatichawi (educación) ukan subsistemas
Comment=Subsistemas de Educación Regular, Alternativa, Especial y Formación Profesional
Comment[es]=Subsistemas de Educación Regular, Alternativa, Especial y Formación Profesional
GenericName=Web Browser
GenericName[es]=Navegador web
Exec=firefox %u http://educa.minedu.gob.bo/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=accessories-dictionary-symbolic
Categories=PluriOS;GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=new-window;new-private-window;

